extends default
block header
    header.header 
     div.container
       h1.display-4 Share with quote, change this World.
block content
  form(action='/' method='POST').my-4
    .form-group
      label(for='author') Author name
      input.form-control(id='author',type='text',placeholder='author',name='author')
    .form-group  
      label(for='quote') Quote
      textarea.form-control(id='quote',name='quote')
    button.btn.btn-primary(type='submit') Submit
    h1.my-4 Latest Quotes
    each item in data
      - var url = item._id;
      blockquote.blockquote.text-left
        a(href='/details/' + url)
          p.mb-0 #{item.quote}
        footer.blockquote-footer By: #{item.author}