.header {
  height: 50vh;
  background: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: #f9f9f9;
}
